# These must be installed before building mmflow
numpy
docutils==0.16.0
myst-parser
-e git+https://github.com/open-mmlab/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme
sphinx==4.0.2
sphinx-copybutton
sphinx_markdown_tables
sphinx_rtd_theme==0.5.2
scikit-learn
scipy
matplotlib
numpy
six
asynctest
codecov
coverage
flake8
interrogate
# Note: used for kwarray.group_items, this may be ported to mmcv in the future.
kwarray
matplotlib
pytest
ubelt
xdoctest>=0.10.0
yapf
torch==1.13.1+cu116 torchvision==0.14.1+cu116 torchaudio==0.13.1 --extra-index-url https://download.pytorch.org/whl/cu116
mmcv-full==1.7.0 -f https://download.openmmlab.com/mmcv/dist/cu116/torch1.13.0/index.html

